/build/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
moc_*
ui_*
qrc_*

# User Specific project settings
*.pro.user
*.pro.user.*

# macOS specific files
.DS_Store

# Qt stack files
.qmake.stack
.qmake.stash


